.navbar {
  background-color: transparent !important; /* Establecer fondo transparente */
  padding: 10px 20px;
  position: fixed; /* Fijar la barra en la parte superior */
  top: 0;
  left: 0;
  width: 100%; /* Ocupar toda la pantalla */
  z-index: 1000; /* Asegurar que esté por encima del contenido */
  box-shadow: none; /* Remover sombra si no la quieres */
}

body {
  padding-top: 70px; /* Ajusta este valor si la navbar es más alta */
}

/* Logo y nombre de la marca */
.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #2c2c2c !important;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
}

/* Links de navegación */
.navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: bold;
  color: #2c2c2c !important;
  margin-right: 15px;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #52779e !important; /* Azul más oscuro */
}

/* Carrito de compras */
.navbar-nav .nav-link.position-relative {
  display: flex;
  align-items: center;
  color: #2c2c2c !important;
}

.navbar-nav .nav-link .badge {
  font-size: 0.75rem;
  padding: 4px 6px;
}

/* Asegurar que la navbar ocupe todo el ancho en móviles */
.container {
  max-width: 100%;
}

.navbar {
  height: 100px; /* Ajusta según el diseño */
  display: flex;
  align-items: center; /* Centra verticalmente los hijos */
  padding-left: 1rem; /* Opcional: separa el logo del borde */
}

/* Estilo para el logo */
.nav-logo {
  height: 100px; /* Tamaño visual del logo */
  object-fit: contain;
  display: block;
}
